ody {background-color:black;}

 h1
 {
 color:gray;
 font-family:Verdana,sans-serif;
 font-size:28pt;
 }

 #mainContent
 {
 position:absolute;
 left:3%;
 background-color:white;
 width:min-content;
 height:auto;
 border-radius:16px;
 padding:16px;
 }

 #formInput
 {
 padding:4px;
 margin-left:70px;
 }

 #outputReport
 {
 padding:4px;
 margin-left:70px;
 }

 p
 {
 font-family:sans-serif;
 font-size:14pt;
 }

 td
 {
 padding:8px;
 font-family:sans-serif;
 font-size:12pt;
 color:black;
 }


 #tdSpaced
 {
 padding:8px;
 font-family:sans-serif;
 font-size:12pt;
 padding-right:50px;
 }

 #rate
 {
 width:70%;
 }

 #outputRow
 {
 display:none;
 }
